.window {
    margin: 0px;
    position: fixed;
}
.window-border {
    box-shadow: 1px 1px 0px 0px #424242;
    border: 1px solid #ffffff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    background: #c0c0c0;
    padding: 2px;
}
.title-bar {
    padding: 0;
    background: #808080;
    color: #fff;
    font-weight: 500;
    max-height: 21px;
}
    .title-bar .title {
        margin-left: 4px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        font-size: 15px;
        vertical-align: middle;
        margin-bottom: 2px;
    }
    .title-bar .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-bottom: 6px;
        margin-left: 4px;
    }
.control-box {
    float: right;
    margin: 1px;
    margin-bottom: 2px;
    margin-top: 1.95px;
}
.button-3d {
    display: block;
    float: left;
    border: 1.5px solid #ffffff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: #c0c0c0;
    height: 18px;
    width: 18px;
    color: transparent;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
    .button-3d:active {
        border: 1px inset #fff;
    }
    .button-3d span {
        display: block;
        border-top-width: 0;
        border-left-width: 0;
        font-size: 1px;
        line-height: 13px;
    }
    .button-3d.maximize {
        margin-right: 2px;
        margin-left: 1.05px;
    }
    .button-3d.close {
        background-image: url(./images/window/close.png);
        margin-right: 2px;
    }
    .button-3d.question {
        background-image: url(./images/window/question.png);
    }
    .button-3d.question-save {
        background-image: url(./images/window/question.bmp);
    }
    .button-3d.close-save {
        background-image: url(./images/window/close.png);
    }
    .button-3d.close-dialog {
        background-image: url(./images/window/close.png);
    }
    .button-3d.close-run {
        background-image: url(./images/window/close.png);
    }
    .button-3d.maximize {
        background-image: url(./images/window/maximize.png);
    }
    .button-3d.minimize {
        background-image: url(./images/window/minimize.png);
    }
.active-window .title-bar {
    background: #08216b !important;
    /* Old browsers */
    background: -moz-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #08216b), color-stop(100%, #a5cef7)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* IE10+ */
    background: linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* W3C */
    /* IE6-9 */
}
